.instock,
.outstock {
  position: absolute;
  color: white;
  font-weight: bold;
  padding: 3px 15px;
  font-size: 12px;
  border-radius: 10px;
  right: 10px;
  top: 10px;
}

.instock {
  background-color: darkgreen;
}

.outstock {
  background-color: darkred;
}

.card {
  box-shadow: 0 0 10px 0px #b1b1b1;
}

.addToCart {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 40px;
  font-weight: bold;
}

.addToCart:hover {
  background-color: black;
}

.det:hover {
  color: rgb(0, 174, 0);
}