<div class="whole container  p-5">
  <div class="text-center ">
    <h3>Empty Cart</h3>
  </div>
  <div>
    <h3 class="mb-5">Shopping Cart</h3>
    <div class="row">
      <div class="col-md-5 text-center">Description</div>
      <div class="col-md-3">Quantity</div>
      <div class="col-md-2">Remove</div>
      <div class="col-md-2">Price</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-5 d-flex align-items-center  justify-content-start">
        <div class="col-md-5"></div>
        <div class="col-md-7"></div>
      </div>
      <div class="col-md-3">
        <div class="counter mb4 d-flex align-items-center justify-content-center ">
          <i class="fa-solid fa-minus me-4"></i>
          <p class="me-4" style="font-size: 20px; padding-top: 15px;">0</p>
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-center justify-content-start">
        <span class="bg-danger rounded-2 p-2 "><i class="fa-solid fa-xmark text-white "></i></span>
      </div>
      <div class="col-md-2  d-flex align-items-center justify-content-start">Price</div>
    </div>
    <hr class="mb-5">
    <div class="row">
      <div class="col-md-2 ms-auto border border-2 rounded-4 border-success p-4 d-flex align-items-center text-center">
        <div class="col-md-6">Total:</div>
        <div class="col-md-6 fw-bold ">1435</div>
      </div>
    </div>
  </div>
</div>