<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products
      App</a>


    <div class="d-flex" role="search">
      <a routerLink="register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Register</a>
      <a routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a>
      <a routerLink="cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i
          class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>
</nav>