/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(234, 244, 234) !important;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(173, 173, 173);
}

::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkgreen;
}